{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% for g in genres %}

    <h2>{{ g.name }}</h2>

        {% for f in g.films %}

            <h5>{{ f.name }}</h5>

        {% endfor %}
    {% endfor %}

</div>

{% endblock %}
